.homeBody{
	background-size: cover;
}


.button {
	background-color: #90ee90;
  	color: #000000;
  	border-radius: 4px;
}

.big-btn {
  	width: 90px;
  	height: 40px;
}

.hiddenMsg {
  	display: none;
}

.screenshot {
  	height: 200px;
  	display: block;
}

#top {
	color: pink;
	font-family: 'KarmaticArcade', serif;
}


#old-top {
	background-color: #90ee90;
	font-family: 'Courier New', monospace;
}

#usernameText {
	float: right;
	margin: 10px;
}

.saveButton {
	float: right;
}

.flexColumns {
	display: flex;
	flex-direction: row;
}

.column {
	margin: 10px;
	flex: 200px;
}

.playerDetails {
	background-color: #90ee90;
	padding: 5px;
}

.sideColumn {
	margin: 10px;
	flex: 100px;
	position: relative;
}

.dataContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	gap: 10px;
	background-color: white;
	padding: 5px;
}

.formStyle {
	display: grid;
	place-items: center;
	background-color: white;
	padding: 5px;
	border: 3px green;
	width: 25%;
	border-radius: 10px;
}

#chatBtn {
	position: absolute;
	right: 0;
	top: 0;
}

#chat-popup {
  position: fixed;
  right: 15px;
  bottom: 20px;
  height: 50%;
  width: 20%;
  background-color: white;
  overflow-y: scroll;
  padding: 5px;
  border: 2px green;
  border-radius: 10px;
}

#count{
	color: white;
}

#displayResult{
	color: pink;
}

@font-face {
    font-family: KarmaticArcade;
    src: url(/cricAttacks/fonts/KarmaticArcade.woff) format('woff');
}

#note{
	background-color: white;
	width: 25%;
	border-radius: 2px;
}
