<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head> 
		<title> Cricket Attacks - login </title> 
		<link rel="stylesheet" th:href="@{/css/main.css}" />
	</head>
	<body th:style="'background-image:url(' + @{/img/new_ground.jpeg} + ');'" class="homeBody">
	<div id=top>
		<h1 style="font-weight: bold; color: blue;"> Cricket Attacks </h1>
	</div>
	
	<div class="formStyle">
		
		<div th:if="${param.error}" style='color: red;'>    
                    Invalid room ID or password.
        </div>	
        	
		<div th:if="${(param.userError != null) and (param.userError[0] == 'alreadylogged')}" style='color: red;'>    
                    User is Already logged In.
        </div>
        	
		<div th:if="${(param.userError != null) and (param.userError[0] == 'tooManyUsers')}" style='color: red;'>    
                    Too many users in a room
        </div>
        	
		<div th:if="${(param.userError != null) and (param.userError[0] == 'nameExists')}" style='color: red;'>    
                    Please choose another name, as username is already taken
        </div>

<br>
		<form name="f" th:action="@{/}" method="post">
			<label for="user"> User Name: </label>
			<input type="text" id="user" name="user"><br><br>
			<label for="username"> Room ID: </label>
			<input type="text" id="username" name="username"><br><br>
			<label for="password"> Password: </label>
			<input type="password" id="password" name="password"><br><br>
			<input type="submit" value="Play Now!">
			<button><a th:href="@{/register}"> Create a new room</a> </button>
		</form>
	</div>
	<audio id="bgAudio" th:src="@{/sounds/time_machine-waterflame.mp3}" autoplay loop></audio>
	</body>
	<script>
  		var audio = document.getElementById("bgAudio");
  		audio.volume = 0.1;
	</script>
</html>
