<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	<title> Create New Room </title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	</head>
	<body th:style="'background-image:url(' + @{/img/cricketField.jpeg} + ')'" class="homeBody">
		<div id="top"><h1> Create New Room </h1></div>
		<div class="formStyle">
		<div th:if="${(param.userError != null) and (param.userError[0] == 'roomExists')}" style='color: red;'>    
                    Please choose another name, Room Name already exists
        </div>
        <div th:if="${(param.userError != null) and (param.userError[0] == 'invalidCreds')}" style='color: red;'>    
                    Please provide valid room ID and password
        </div>
		<br>
		<form name="form" th:action="@{/register}" method="post">
			<label for="roomId"> Room ID: </label>
			<input type="text" id="roomId" name="roomId"><br><br>
			<label for="password"> Password: </label>
			<input type="password" id="password" name="password"><br><br>
			<input type="submit" value="Submit!">
		</form>
		</div>
		<div id="note">
		<p> Note: You can only have two players in one room </p>
		</div>
	</body>
</html>
